

<div class="container">
  <h1>Available Tools</h1>
  <div class="index-grid-with-filter">
    <div class="filter-box">
      <%= simple_form_for :search, url: tools_path, method: "GET", html: { class: '' } do |f| %>
        <%=f.input :category, required: false%>
        <%=f.input :brand, required: false%>
        <%=f.input :price, as: :float, required: false, input_html: { min: "0" }%>
        <%=f.input :location, required: false%>
        <%= f.input :date, input_html: {class: "datepicker"}, required: false%>
        <%=f.submit "Search", class: "btn button" %>
      <% end %>
    </div>
    <div class="cards-grid">
      <% @tools.each do |tool| %>
        <div class="card-tool">
          <%= link_to(tool) do %>
              <div class="card-tool-image" style="background-image: url('<%= cl_image_path tool.photo, height: 300, width: 400, crop: :fill %>')"></div>
          <%end%>
          <div class="card-info-box">
            <div class="card-info-row">
              <p class="subtitle"><%=tool.name%></p>
              <%= link_to(tool) do %>
                <i class="fas fa-info"></i>
              <%end%>
            </div>
            <div class="card-info-row mtop-5">
              <p class="info-text"><%=tool.brand%></p>
              <p class="info-text"><%='%.2f' % tool.price.to_f%>€</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
