

<div class="container">
    <h1 class="title-index-page">Available Tools</h1>
  <div class="index-grid-with-filter">
    <div>
        <div class="filter-box">
        <div class="line-of-buttons pa-0 ">
          <button class="btn button" id="tools-list-button">List</button>
          <button class="btn button button-unselected" id="tools-map-button">Map</button>
        </div>
        <%price = params[:search][:price] if !params[:search].nil?%>
        <%location = params[:search][:location] if !params[:search].nil?%>
        <%category = params[:search][:category] if !params[:search].nil?%>
        <%brand = params[:search][:brand] if !params[:search].nil?%>
        <div class="filter">
          <%= simple_form_for :search, url: tools_path, method: "GET", html: { class: '' } do |f| %>
            <%=f.input :category, input_html: {class: "select2"}, selected: category, required: false, collection: ['', 'Trowel', 'Square Shovel', 'Pointed Shovel', 'Garden Fork', 'Potato Fork', 'Spading Fork', 'Border Forks', 'Broadfork', 'Compost Fork', 'Pick', 'Hoe', 'Auger', 'Trench Shovel', 'Post Hole Pincer', 'Wheel Edger', 'Step-On Edger', 'Edging Shears', 'Electric Edger', 'Gas Edger', 'Lawn Mower', 'Leaf Blower', 'String Trimmer', 'Mulcher', 'Spreader', 'Sprinkler', 'Rake', 'Aerator', 'Hose', 'Bulb Planter', 'Hand Weeder', 'Hand Seeder', 'Seeder Row Planter', 'Tiller', 'Planting Dibble', 'Twist Tiller', 'Cultivator', 'Soil Scoop', 'Hand Pruner', 'Hedge Shears', 'Pruning Saw', 'Lopper', 'Pole pruner', 'Tree Pruner', 'Snips', 'Topiary Shears', 'Trailer Sprayer', 'Skid Sprayer', 'Backpack Sprayer', 'Handheld Sprayer', 'Broadcast Sprayer', 'Chainsaw', 'Composter', 'Wheelbarrow', "Lopper"]%>
            <%=f.input :brand,input_html: {class: "select2"}, selected: brand, required: false, collection: ['', 'A.M. Leonard', 'Bionic Gloves/H&B', 'Einhell', 'Bond Manufacturing', 'Centurion Brands', 'CobraHead LLC', 'Corona', 'Earthquake', 'ERA Group', 'Fence Armor', 'Florian Tools', 'Foxgloves', 'Gardener’s Supply Company', 'GreenStalk Gardening Systems', 'High Caliper Growing', 'Maine Garden Products Div. of Bartlett Bench & Wire Inc', 'Melnor', 'Radius Garden', 'Redback', 'Root Assassin LLC', 'Seeding Square', 'Gardena', 'Stihl', 'Kaercher', 'Husqvarna', 'Mantis', 'Trumper', 'Lifetime', 'Scenic road', 'Devaon']%>
            <%=f.input :price, as: :float, required: false, input_html: { min: "0" }, input_html: {value: price}, :label => 'Maximum price / day (€)'%>
            <%=f.input :location, required: false, input_html: {value: location }, input_html: { id: 'tool_address'}%>
            <%= f.input :date, input_html: {class: "datepicker"}, required: false%>
            <%=f.submit "Search", class: "btn button" %>
          <% end %>
        </div>
      </div>
    </div>

    <div>
      <div id="map-container"  class="hidden">
        <%= render 'shared/map' %>
      </div>
      <div id="tools-list-show" class="">
        <div class="cards-grid">
          <% @tools.each do |tool| %>
            <%= render 'shared/tool_card', tool: tool%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

