
<div class="container min-height">
  <div class="tool_info">
    <div class="image-card">
      <%= cl_image_tag @tool.photo, height: 500, width: 500, crop: :fill, class: "tool_image" %>
    </div>
    <div class="info-card">
      <h1><%= @tool.name %></h1>
      <h3>Brand: <%= @tool.brand %></h3>
      <p>Category: <%= @tool.category %></p>
      <p>Description: <%= @tool.description %></p>
      <p>Price: <%='%.2f' % @tool.price.to_f%> â‚¬</p>
      <div class="booking-card">
      <% if @tool.user != current_user%>
        <%= link_to "Add booking", new_tool_booking_path(@tool), class: "btn button" %>
      <%end%>
      <p>Owner: <%= @tool.user.first_name %> <%= @tool.user.last_name %></p>
      <% if policy(@tool).destroy?%>
        <%= link_to 'ðŸ—‘ï¸', tool_path(@tool), method: :delete, class: "delete_btn" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
