<div>
  <div class="container min-height" id="margin-main">
    <div class="row">
      <div class="left col-8">
        <h2 class="mb-4" ><%= @tool.name %></h2>
        <p> <strong>Brand: </strong>  <%= @tool.brand %></p>
        <p><strong> Category: </strong><%= @tool.category %></p>
        <p><strong>Address: </strong><%= @tool.address %></p>
        <div class="description">
          <p class="mb-1"><strong>Description: </strong></p>
          <p><%= @tool.description %></p>
        </div>
        <p><strong>Owner: </strong><%= @tool.user.first_name %> <%= @tool.user.last_name %></p>
        <div class="price">
          <p><strong>Price / day: </strong><%='%.2f' % @tool.price.to_f%> €</p>

          <div class="booking-card">
            <% if @tool.user != current_user%>
              <%= link_to "Add booking", new_tool_booking_path(@tool), class: "btn button" %>
            <%end%>

            <% if policy(@tool).destroy?%>
              <%= link_to "Edit tool", edit_tool_path(@tool), class: "edit_btn btn button" %>
            <% end %>

            <% if policy(@tool).destroy?%>
              <%= link_to 'Delete tool', tool_path(@tool), method: :delete, class: "btn button" %>
            <% end %>
          </div>
        </div>
      </div>


      <div class="col-4">
        <%= cl_image_tag @tool.photo, class: "tool_image" %>
        <div
          id="map"
          class="map-styling"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
    </div>
  </div>
</div>
