<div class="container mbot-40 min-height">
  <div class="profile-layout">
    <div>
      <div class="align-content-center">
        <img class="avatar-vlarge" src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="user image">
        <h1 class="main-title-spacing mtop-20">Hi, <%=current_user.first_name%> <%=current_user.last_name%></h1>
      </div>
      <div class="line-of-buttons pa-15">
        <button class="btn button" id="profile-bookings-button">My Bookings</button>
        <button class="btn button button-unselected" id="profile-tools-button">My Tools</button>
      </div>
      <div class="notifications">
        <% if current_user.notifications.where(read: false).empty? %>
          <p class='my-0 not-header'> <span class='px-2'> <i class="fas fa-envelope"></i> </span> You have 0 notifications </p>
        <% else %>
          <p class='my-0 not-header'> <span class='px-2'> <i class="fas fa-envelope"></i> </span> Your notifications </p>
          <% current_user.notifications.where(read: false).each do |notification| %>
            <p class="notification"> <%= link_to notification.message, booking_path(notification.booking) %> </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="" id="profile-bookings-show">
      <h1 class="main-title-spacing">Tools I Booked</h1>
      <% @own_bookings.each do |booking| %>
        <%= render 'shared/booking_card', booking: booking%>
      <% end %>

      <h1 class="mtop-20 main-title-spacing" >Bookings For My Tools</h1>
      <% @user_tool.each do |booking| %>
        <%= render 'shared/booking_card', booking: booking%>
      <% end %>
    </div>
    <div class="hidden" id="profile-tools-show">
      <h1 class="main-title-spacing">My Tools</h1>
      <div class="cards-grid-2">
        <% @tools.each do |tool| %>
          <%= render 'shared/tool_card', tool: tool%>
        <% end %>
      </div>
    </div>
  </div>

</div>
