<div class="container mt-5 d-flex justify-content-between">

  <div class="booking-form">
    <%= simple_form_for([@tool, @booking], html: { class: '' }) do |f| %>
      <%= f.input :dates, as: :string, input_html: {class: "datepicker booking-dates"}, require: true%>
      <%= f.input :pickup_time, hint: 'Suggest a time to pick up the tool on the start date of your booking. The owner will let you know if the time works.' %>
      <%= f.input :comment, hint: 'Leave a message for the onwer (optional)' %>
      <%= f.button :submit, class: 'button' %>
  <% end %>
  </div>
  <div class="card-tool-booking">
    <%= cl_image_tag @tool.photo, crop: :fill, class: "tool_image" %>
    <h2 class='tool-name'><%= @tool.name %></h2>
    <p class='tool-category'><%= @tool.category %>, <%= @tool.brand %></p>
    <p class='tool-description smaller-spacing' id='price-per-day' data-price='<%=@tool.price%>'>Price/day: <%='%.2f' % @tool.price.to_f%> €</p>
    <p class='tool-description smaller-spacing' id='days'>Days: 1 </p>
    <p class='tool-price' id='total-price'>Total price: <%='%.2f' % @tool.price.to_f%> € </p>
  </div>
</div>

<div class='hidden' id='availabilities'> <%= @tool.date %></div>
