<div class="container mtop-25 d-flex justify-content-between min-height ">
  <div class="flex-grow mr-5">
    <h2 class='mb-4'>Your booking</h2>
    <div class="booking-container">
      <div class="card-info-row">
        <div class="status-line">
        <!-- <span>Status:</span> -->
          <% if @booking.confirmation == nil %>
            <p>Status: Confirmation pending</p>
          <% elsif @booking.confirmation %>
            <p><strong>Status: </strong>Booking confirmed</p>
          <% else %>
            <p><strong>Status: </strong>Booking declined</p>
          <% end %>
        </div>
        <%confirmation = @booking.confirmation%>
        <p>
          <%if confirmation.nil?%>
            <i class="booking-status far fa-circle"></i>
          <%elsif confirmation%>
            <i class="booking-status far fa-check-circle"></i>
          <%elsif !confirmation%>
            <i class="booking-status far fa-times-circle"></i>
          <%end%>
        </p>
      </div>
        <% if current_user == @tool.user %>
          <p>
            <span><strong>Hirer:</strong></span>
            <span><%= @booking.user.first_name%> <%= @booking.user.last_name%></span>
          </p>
          <p>
            <span><strong>Comment:</strong></span>
            <span><%= @booking.comment %></span>
          </p>
        <% else %>
          <p>
            <span><strong>Owner:</strong></span>
            <span><%= @tool.user.first_name %> <%= @tool.user.last_name %></span>
          </p>
        <% end %>
          <p>
            <span><strong>Booking period:</strong></span>
            <span>
              <%=@booking.dates_to_array[0]%> - <%=@booking.dates_to_array[1]%></span>
          </p>
          <p>
            <span><strong>Suggested pickup time:</strong></span>
            <span><%= @booking.pickup_time.to_s.match(/\d{2}:\d{2}/)%></span>
          </p>
      </div>
    <div class="d-flex mb-3">
      <%if current_user == @tool.user && @booking.confirmation.nil?%>
        <%= simple_form_for(@booking) do |f| %>
          <%= f.input :confirmation, :as => :hidden, :input_html => { :value => "true" }%>
          <%= f.button :submit, 'Accept Booking', class: 'button  mr-10' %>
        <% end %>
        <%= simple_form_for(@booking) do |f| %>
          <%= f.input :confirmation, :as => :hidden, :input_html => { :value => "false" }%>
          <%= f.button :submit, 'Deny Booking', class: 'button' %>
        <% end %>
      <%end%>
      <%if current_user == @tool.user && @booking.confirmation == true%>
        <%= simple_form_for(@booking) do |f| %>
          <%= f.input :confirmation, :as => :hidden, :input_html => { :value => "false" }%>
          <%= f.button :submit, 'Deny Booking', class: 'button' %>
        <% end %>
      <%end%>
    </div>
    <a class="btn button mr-10" href="/bookings">All your Bookings</a>
    <a class="btn button" href="/">Back home</a>
  </div>



  <div class="card-tool-booking-outer">
    <div class="card-tool-booking">
      <%= cl_image_tag @tool.photo, crop: :fill, class: "tool_image" %>
      <h2 class='tool-name tool-card-link'><%= link_to @tool.name, @tool%></h2>
      <p class='tool-category'><%= @tool.category %>, <%= @tool.brand %></p>
      <p class='tool-description smaller-spacing' id='price-per-day'>Price/day: <%='%.2f' % @tool.price.to_f%> €</p>
      <% days = ((@booking.dates_to_array[1]-@booking.dates_to_array[0]).to_i) + 1 %>
      <p class='tool-description smaller-spacing' id='days'>Days: <%= days %> </p>
      <p class='tool-price' id='total-price'>Total price: <%='%.2f' % (@tool.price*days).to_f%> € </p>
    </div>
  </div>

</div>


