<div class="container mt-5 d-flex justify-content-between">
  <div class="ml-5">
    <h3>Your booking</h3>
    <div class="booking-container">
      <p>
        <!-- <span>Status:</span> -->
          <% if @booking.confirmation == nil %>
            <div class="status-line">
              <span>Status: Confirmation pending</span>
              <span class="lds-dual-ring ml-3"></span>
            </div>
          <% elsif @booking.confirmation %>
            <span>Status: Booking confirmed</span>
          <% else %>
            <span>Status: Booking declined</span>
          <% end %>

      </p>
      <p>
        <span>Owner:</span>
        <span><%= @tool.user.first_name%> <%= @tool.user.last_name %></span>
      </p>
      <p>
        <span>Booking period:</span>
        <span>
          <%booking_date = (@booking.dates).to_s.gsub(/\[|\]/,"").gsub(/\"/, "").split(",")%>
          <%=booking_date[0]%> - <%=booking_date[1]%></span>
      </p>
      <p>
        <span>Suggested pickup time:</span>
        <span><%= @booking.pickup_time.to_s.match(/\d{2}:\d{2}/)%></span>
      </p>
    </div>
    <a class="btn button" href="/">Back home</a>
  </div>



  <div class="card-tool-booking">
    <%= cl_image_tag @tool.photo, crop: :fill, class: "tool_image" %>
    <h2 class='tool-name'><%= @tool.name %></h2>
    <p class='tool-category'><%= @tool.category %>, <%= @tool.brand %></p>
    <p class='tool-description smaller-spacing' id='price-per-day'>Price/day: <%='%.2f' % @tool.price.to_f%> €</p>
    <% days = ((Date.parse(booking_date[1])-Date.parse(booking_date[0])).to_i) + 1 %>
    <p class='tool-description smaller-spacing' id='days'>Days: <%= days %> </p>
    <p class='tool-price' id='total-price'>Total price: <%='%.2f' % (@tool.price*days).to_f%> € </p>
  </div>
</div>


