<div class="card-tool mtop-10">
  <%= link_to(booking) do %>
    <div class="card-booking">
      <div class="card-tool-image-small card-tool-image-width-30pc card-tool-image-radius-left" style="background-image: url('<%= cl_image_path booking.tool.photo, height: 300, width: 400, crop: :fill %>')"></div>
      <div class="card-info-box vertical-card-align p-4 ">
        <div class="card-info-row">
          <p class="booking-tool-name"><%= booking.tool.name %></p>
          <%confirmation = booking.confirmation%>
          <p>
            <%if confirmation.nil?%>
              <i class="booking-status far fa-circle"></i>
            <%elsif confirmation%>
              <i class="booking-status far fa-check-circle"></i>
            <%elsif !confirmation%>
              <i class="booking-status far fa-times-circle"></i>
            <%end%>
          </p>
        </div>
        <div class="card-info-row">
          <div class="booking-time">
            <p class="booking-period">Booking period: <%=booking.dates_to_array[0]%> - <%=booking.dates_to_array[1]%></p>
            <p class="booking-pickup">Pickup time: <%=(booking.pickup_time).to_s.match(/\d{2}:\d{2}/)%></p>
          </div>
        </div>
        <div class="card-info-row">
          <% if current_user == booking.tool.user %>
            <p class="booking-tool-owner">Hirer: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
          <% else %>
            <p class="booking-tool-owner">Owner: <%= booking.tool.user.first_name %> <%= booking.tool.user.last_name %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
