<div class= "full-page-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1526381508894-f68d6b837627?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1034&q=80">
<div class="standard-container">


<div class="center-form">
  <h2>Find the right Tool for the Job!</h2>
  <%= simple_form_for :search, url: tools_path, method: "GET", html: { class: '' } do |f| %>
    <%=f.input :category, required: false%>
    <%=f.input :price, as: :float, required: false%>
    <%=f.input :location, required: false%>
    <%= f.input :date, input_html: {class: "datepicker"}, required: false%>
    <%=f.submit "Search", class: "btn button" %>
  <% end %>

</div>

</div>
